[Unit]
Description=Twitter Feed Demo
After=network.target sshd-keygen.service
Wants=sshd-keygen.service

[Service]
Type=simple

Environment='JAVA_OPTS=-Dtwitter4j.oauth.consumerKey=LcWqFdiUelH5DxY3EFQsnRYKA -Dtwitter4j.oauth.consumerSecret=MYLgD8ciUCDpeuYRIewevIn4hmpDi2FwbHavF0chwJA2dzm6sX -Dtwitter4j.oauth.accessToken=716081626237632512-80bWlwIDjVLcKRKoqJPZyb9Rem0EtLL -Dtwitter4j.oauth.accessTokenSecret=UBzhVVAUqKeWrA65MWwvmzOHXFlZYR3j9S2coV00heodO'
Environment=TWITTER_FEED_DEMO_DATASET_ID=AA$oLkaIm0iiZl7oxIjR7Ua
Environment=TWITTER_FEED_DEMO_DATASET_SENDKEY=YyPK_uRsNLdN2SE3mOItz7YQX92CxjmoOyuuEvpISvFrDvbzwID7iIeZScj6Qmx3nKWvsonl2zCj8nRkWE4x5Q

User=tomcat
Group=tomcat

ExecStart=/usr/bin/java $JAVA_OPTS -jar /opt/twitter-feed-demo/twitter-feed-demo-0.0.1-SNAPSHOT.jar
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target